---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

// for Progress bars
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.u-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.skill {
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skill__type {
    color: black;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}

.skill__outer-bar, .skill__inner-bar {
    height: .75em;
}

.skill__outer-bar {
    margin-top: 1em;
    background: rgb(160, 160, 160);
}

.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--100 {
    width: 100%;
    background: #4e79a7;
}
.skill__inner-bar--90 {
    width: 90%;
    background: #4e79a7;
}
.skill__inner-bar--80 {
    width: 80%;
    background: #4e79a7;
}
.skill__inner-bar--70 {
    width: 70%;
    background: #4e79a7;
}
.skill__inner-bar--60 {
    width: 60%;
    background: #4e79a7;
}
.skill__inner-bar--60 {
    width: 60%;
    background: #4e79a7;
}
.skill__inner-bar--50 {
    width: 50%;
    background: #4e79a7;
}
.skill__inner-bar--40 {
    width: 40%;
    background: #4e79a7;
}
.skill__inner-bar--30 {
    width: 30%;
    background: #4e79a7;
}
.skill__inner-bar--20 {
    width: 20%;
    background: #4e79a7;
}
.skill__inner-bar--10 {
    width: 10%;
	background: #4e79a7;
}
.skill__inner-bar--0 {
    width: 0%;
	background: #4e79a7;
}

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}
