$color_1: #222;
$color_2: #495057;
$color_3: #08837e;
$color_4: #A0A0FF;
$color_5: #3b6e8f;
$color_6: #333;
$color_7: #555555;
$color_8: #555;
$font-family_1: 'helvetica', sans-serif;
$background-color_1: #DDDDDD;
$background-color_2: #FFF;
$background-color_3: #f0f0f0;

/* Fix weird flickering in Safari */
body {
	position: relative;
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-weight: lighter;
	color: $color_1;
	margin: 0;
	padding: 0;
	min-width: 320px;
}
.list-social-icons {
	a {
		color: $color_2;
		&:hover {
			color: $color_3;
		}
		.fa-lg {
			font-size: 1.75rem;
		}
	}
}
.list-icons {
	font-size: 3rem;
	.list-inline-item {
		i {
			&:hover {
				color: $color_4;
			}
		}
	}
}
a {
	font-weight: bold;
	color: $color_5;
	margin: 0;
	font-weight: 500;
	&:hover {
		color: $color_3;
	}
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: 0;
}
.list-inline-item {
	display: inline-block;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
h1 {
	font-weight: bold;
	color: $color_6;
	margin: 0;
}
.title {
	text-align: center;
	width: 90%;
	margin: auto auto 20px;
	h1 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 1px;
	}
}
.tagline {
	font-style: italic;
}
.inline-footnote {
	margin: auto;
	display: none;
}
h2 {
	font-weight: lighter;
	color: $color_7;
}
.vertical-align {
	display: flex;
	align-items: center;
}
.page-container {
	position: relative;
	width: 100%;
	margin: 50px 0;
	.inner {
		position: relative;
		width: 100%;
		max-width: 80%;
		margin: 0 auto;
		overflow: hidden;
		box-sizing: border-box;
		padding: 20px 30px;
		background-color: $background-color_2;
	}
}
.citation {
	white-space: pre-wrap;
	padding: 1em;
	word-wrap: break-word;
	overflow: auto;
	background: solid;
	background-color: $background-color_3;
}
h5 {
	color: $color_8;
}
@media (max-width: 600px) {
	.fasmaller {
		ai: fa-4x;
	}
}
